.profile {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px -1px rgba(255, 255, 255, 0.5);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description > p {
  margin: 10px 0 0 0;
}

.avatar {
  max-width: 150px;
  margin-top: 50px;
  border: 2px solid #000;
  border-radius: 50%;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.tag,
.location {
  color: darkgrey;
}

.stats {
  display: flex;
  height: 80px;
  justify-content: center;
  list-style: none;
  margin-top: 25px;
  padding: 0;
  border-top: 1px solid gray;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: rgb(237, 244, 246);
}

.statsItem {
  display: flex;
  width: calc(100% / 3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsItem:nth-child(-n + 2) {
  border-right: 1px solid gray;
}

.label {
  margin-bottom: 5px;
  color: darkgrey;
}

.quantity {
  font-weight: bold;
}
