.friendList {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  height: 120px;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px -1px rgba(255, 255, 255, 0.5);
}

.item:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

.status {
  display: block;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.statusActive {
  composes: status;
  background-color: rgb(75, 243, 9);
}

.statusPassive {
  composes: status;
  background-color: rgb(255, 0, 0);
}

.avatar {
  display: block;
  width: 100px;
  height: 100%;
  margin-right: 25px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}
